@{
    Layout = null;
}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>物流运管调度</title>
        <link href="~/Content/css/index1.css" rel="stylesheet" />
	</head>
	<body>
		<div id="main">
			<div id="top">
				<ul>
					<li><a href="#">调度模块</a></li>
					<li><a href="#">货物管理</a></li>
					<li><a href="#">大数据处理</a></li>
					<li><a href="#">人员</a></li>
					<li><a href="#">车辆管理</a></li>
				</ul>
			</div>
			<div id="nav">
				<div id="nav-l">
					<ul>
						<li><a href="#">即将到达仓库的货物和即将出仓库的货物。实时显示时间和具体信息</a></li>
						<li><a href="#">即将到达仓库的货物和即将出仓库的货物。实时显示时间和具体信息</a></li>
						<li><a href="#">即将到达仓库的货物和即将出仓库的货物。实时显示时间和具体信息</a></li>
						<li><a href="#">即将到达仓库的货物和即将出仓库的货物。实时显示时间和具体信息</a></li>
						<li><a href="#">即将到达仓库的货物和即将出仓库的货物。实时显示时间和具体信息</a></li>
						<li><a href="#">即将到达仓库的货物和即将出仓库的货物。实时显示时间和具体信息</a></li>
						<li><a href="#">即将到达仓库的货物和即将出仓库的货物。实时显示时间和具体信息</a></li>
						<li><a href="#">即将到达仓库的货物和即将出仓库的货物。实时显示时间和具体信息</a></li>
						<li><a href="#">即将到达仓库的货物和即将出仓库的货物。实时显示时间和具体信息</a></li>
						<li><a href="#">即将到达仓库的货物和即将出仓库的货物。实时显示时间和具体信息</a></li>
						<li><a href="#">即将到达仓库的货物和即将出仓库的货物。实时显示时间和具体信息</a></li>
					</ul>
				</div>
				<div id="nav-r">
					<ul>
						<li><a href="#">即将到达仓库的货物和即将出仓库的货物。实时显示时间和具体信息</a></li>
						<li><a href="#">即将到达仓库的货物和即将出仓库的货物。实时显示时间和具体信息</a></li>
						<li><a href="#">即将到达仓库的货物和即将出仓库的货物。实时显示时间和具体信息</a></li>
						<li><a href="#">即将到达仓库的货物和即将出仓库的货物。实时显示时间和具体信息</a></li>
						<li><a href="#">即将到达仓库的货物和即将出仓库的货物。实时显示时间和具体信息</a></li>
						<li><a href="#">即将到达仓库的货物和即将出仓库的货物。实时显示时间和具体信息</a></li>
						<li><a href="#">即将到达仓库的货物和即将出仓库的货物。实时显示时间和具体信息</a></li>
						<li><a href="#">即将到达仓库的货物和即将出仓库的货物。实时显示时间和具体信息</a></li>
						<li><a href="#">即将到达仓库的货物和即将出仓库的货物。实时显示时间和具体信息</a></li>
						<li><a href="#">即将到达仓库的货物和即将出仓库的货物。实时显示时间和具体信息</a></li>
						<li><a href="#">即将到达仓库的货物和即将出仓库的货物。实时显示时间和具体信息</a></li>
					</ul>
				</div>
			</div>
			<div id="content">
				<div id="con-l">
					<p>人员管理的简要信息<span>&gt;&gt;more</span></p>
					<p>人员管理的简要信息<span>&gt;&gt;more</span></p>
					<p>人员管理的简要信息<span>&gt;&gt;more</span></p>
					<p>人员管理的简要信息<span>&gt;&gt;more</span></p>
					<p>人员管理的简要信息<span>&gt;&gt;more</span></p>
					<p>人员管理的简要信息<span>&gt;&gt;more</span></p>
					<p>人员管理的简要信息<span>&gt;&gt;more</span></p>
					<p>人员管理的简要信息<span>&gt;&gt;more</span></p>
					<p>人员管理的简要信息<span>&gt;&gt;more</span></p>
				</div>
				<div id="con-c">
					<p>大数据处理的简要信息<span>&gt;&gt;more</span></p>
					<p>大数据处理的简要信息<span>&gt;&gt;more</span></p>
					<p>大数据处理的简要信息<span>&gt;&gt;more</span></p>
					<p>大数据处理的简要信息<span>&gt;&gt;more</span></p>
					<p>大数据处理的简要信息<span>&gt;&gt;more</span></p>
					<p>大数据处理的简要信息<span>&gt;&gt;more</span></p>
					<p>大数据处理的简要信息<span>&gt;&gt;more</span></p>
					<p>大数据处理的简要信息<span>&gt;&gt;more</span></p>
					<p>大数据处理的简要信息<span>&gt;&gt;more</span></p>
				</div>
				<div id="con-r">
					<p>车辆的管理信息<span>&gt;&gt;more</span></p>
					<p>车辆的管理信息<span>&gt;&gt;more</span></p>
					<p>车辆的管理信息<span>&gt;&gt;more</span></p>
					<p>车辆的管理信息<span>&gt;&gt;more</span></p>
					<p>车辆的管理信息<span>&gt;&gt;more</span></p>
					<p>车辆的管理信息<span>&gt;&gt;more</span></p>
					<p>车辆的管理信息<span>&gt;&gt;more</span></p>
					<p>车辆的管理信息<span>&gt;&gt;more</span></p>
					<p>车辆的管理信息<span>&gt;&gt;more</span></p>
				</div>
			</div>
			<div id="bottom">
				<p>技术支持：河北大学工商学院网络中心<br/>Copy@12458gjjjvnjjkkk4552</p>
			</div>
		</div>
	</body>
</html>
